.body{
  padding: 15px;
}

.outerContainer {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: gray;
  border-radius: 8px;
  padding: 15px;
}

.infoBar{
  background-color: #822000!important;
}

.sendButton{
  width: 50%;
  background-color: #822000;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    padding: 15px;
  }

  .container {
  padding: 15px;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
